*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(74, 74, 74);
}

h1,
h2 {
  color: rgb(32, 64, 86);
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header {
  padding: 0 5vw;
}

.site-content {
  flex-grow: 1;
  display: flex;
  background-color: #e0d7e3;
}

.game-instructions {
  padding: 10vh 5vw;
  width: 30vw;
}

.game-area {
  padding: 10vh 5vw;
  width: 70vw;
}

@media only screen and (min-width: 1400px) {
  .game-instructions {
    padding: 10vh 5vw;
    width: 50vw;
  }

  .game-area {
    padding: 10vh 5vw;
    width: 50vw;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2%;
  width: 90vw;
  height: 90vw;
  min-width: calc(300px - 10vw);
  min-height: calc(300px - 10vw);
  max-width: 600px;
  max-height: 600px;
}

.cell {
  background-color: #fff;
}

.cell.colored {
  background-color: #000;
}

@media only screen and (max-width: 992px) {
  .board {
    width: 60vw;
    height: 60vw;
  }
}

@media only screen and (max-width: 768px) {
  .game-instructions {
    width: 40vw;
  }

  .game-area {
    width: 60vw;
  }

  .board {
    width: 50vw;
    height: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  .site-content {
    flex-direction: column;
  }

  .game-instructions {
    padding: 5vh 5vw;
    width: 100%;
  }

  .game-area {
    padding: 5vh 5vw;
    width: 100%;
  }

  .board {
    width: 90vw;
    height: 90vw;
  }
}
